@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #F7941D;
    --transparent-color: #F7941D;
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;

}

ul {}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
header {
    background-color: var(--primary-color);
    color: rgb(2, 2, 2);
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo img {
    height: 70px;
}

header ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    margin: 11px 20px;
    padding: 10px 8px;
    font-weight: 500;
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
}

header ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: rgb(0, 0, 0);
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

header ul li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    header nav ul li a {
        margin: 5px 10px;
        padding: 5px 4px;
        font-weight: 500;
        display: flex;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
        position: relative;
    }
}



/* End Header */
section {
    padding: 100px 0;
    background-color: var(--transparent-color);
}

section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .container img {
    width: 50%;
    object-fit: cover;
}

section .hero-content h2 {
    font-family: Imperial Script, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 50px;
}

section .hero-content p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .container img {
        width: 80%;
    }

    section .hero-content h2 {
        font-size: 75px;
        text-align: center;
    }

    section .hero-content p {
        font-size: 1.2rem;
        text-align: center;
    }

    section .hero-content .btn {
        margin: -12px auto 31px auto;
    }
}

section .hero-content .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .hero-content .btn a {
    background-color: #FAC300;
    padding: 10px 20px;
    border-radius: 35px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}