@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #F7941D;
    --transparent-color: #F7941D;
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;

}

ul {}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
header {
    background-color: var(--primary-color);
    color: rgb(2, 2, 2);
    padding: 0 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo img {
    height: 70px;
}

header ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    padding: 40px 10px;
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
}

@media screen and (max-width: 768px) {
    header nav ul li a {
        padding: 20px 5px;
        display: flex;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
        position: relative;
    }
}

header ul li a:hover {
    transition: 0.5s;
    color: white;
}

/* End Header */
section {
    padding: 200px 0;
    background-image: url(/images/Frame.jpg);
}